.form-unit:not(:last-child) {
    margin-bottom: calc(var(--gutter) / 2);
}

input, select, button {
    border-radius: 5px;
}

input, textarea {
    width: 100%;
    border: 0;
    background: #dae7f0;
    outline: 0;
}

label {
    display: block;
    font-weight: 500;
}

input {
    height: 40px;
    padding: 0 10px;
}

textarea {
    height: 120px;
    padding: 10px;
}

button {
    background: var(--color-yellow);
    border: 0;
    padding: 10px 60px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

button.dark {
    background: var(--color-blue);
}

button.passive {
    background: linear-gradient(280.72deg, #B6B6B6 37.63%, #C7C7C7 95.85%);
    /*box-shadow: 0 1px 6px rgba(112, 109, 107, 0.45);*/
}

button.extra-margin-top {
    margin-top: 10px;
}